%div.container-fluid.hidden-phone
  %div.row-fluid
    %div.span12#content
      %div.row-fluid#contentheader
        %div.span6#new
          %div.hero-unit
            = t.title.first_time
        %div.span6#popular
          %div.hero-unit
            = t.title.popular_content

      %div.row-fluid#toc
        Landing page content
